<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <%= link_to t(".users"), users_path, class: "nav-link #{main_menu?('users')}" %>
    </li>
    <li class="nav-item">
      <%= link_to t(".curations"), curations_path, class: "nav-link #{main_menu?('curations')}" %>
    </li>
    <li class="nav-item">
      <%= link_to t(".stores"), stores_path, class: "nav-link #{main_menu?('stores')}" %>
    </li>
    <li class="nav-item">
      <%= link_to t(".notices"), notices_path, class: "nav-link #{main_menu?('notices')}" %>
    </li>
  </ul>
</nav>
